body{
    background-color: #638CB8;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input::placeholder {
    color: #d3d3d3;
}

.submit{
    background-color: #6BA3E8;
}

.center-column{
    width:1000px;
    margin: 20px auto;
    padding:20px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
}

.small-column{
    width:150px;
    margin: 20px auto;
    padding:20px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
}

.btn-danger{
    background-color: #f0ad32;
    border-color: #e59400;
}

.tab {
        display: inline-block;
        margin-left: 30px;
    }
