{% extends 'accounts/main.html' %}

{% block content %}

<h3>Expense info</h3>

<br>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Profile</a>
			<hr>
			<h3 style="text-align: center">Account Settings</h3>
			<hr>

		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">
			
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
		
			<input class="btn btn-primary" type="submit" name="Update Information">
			</form>

            {% for message in messages %}
                <p id="message">{{message}}</p>
            {% endfor %}
		</div>
	</div>
</div>

{% endblock %}