{% extends 'tracker/main.html' %}

{% block content %}

<br>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Profile</a>
			<hr>
			<h3 style="text-align: center">Expense info</h3>
			<hr>

		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">
			
			<form method="POST" action="">
				{% csrf_token %}
				{{expense_full_form.as_p}}
		
			<input class="btn btn-primary" type="submit" value="Update Information">
			</form>

			<a class="btn btn-sm btn-danger" href="{% url 'expense_delete' expense.id %}">Delete Expense</a>

            {% for message in messages %}
                <p id="message">{{message}}</p>
            {% endfor %}
		</div>
	</div>
</div>

{% endblock %}